<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Pineapple Shoe Store Database</title>
</head>
<body>
    <h1>Welcome to Pineapple Shoe Store Database</h1>
    <form action="/" method="post">
        <label for="query">Enter your query:</label>
        <br>
        <textarea id="query" name="query" rows="5" cols="40"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
    {% if query_results %}
    <h2>Query Results</h2>
    <table>
        <thead>
          <tr>
            {% for column_name in column_names %}
              <th>{{ column_name }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in results %}
            <tr>
              {% for value in row %}
                <td>{{ value }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </ul>
    {% endif %}
    <footer>
        <p>&copy; 2023 Pineapple Shoe Store</p>
        <p>Created by Reiner Opitz</p>
        <p>This site and data are for educational purposes only</p>
        <p>Do not insert any sensitive personal data</p>
    </footer>
</body>
</html>