<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Pineapple Shoe Store Database</title>
</head>
<body>
    <h1>Welcome to Pineapple Shoe Store Database</h1>
    <form method="post" action="/">
        <div>
            <label for="query">Enter your query:</label>
            <input type="text" name="query" id="query">
        </div>
        <div>
            <input type="submit" value="Submit Query">
        </div>
    <!--need to add a dynmaic table for the results-->
    <h2>Query Results</h2>
    {% if result %}
    <!-- <div>{{ result }}</div> this was a quick line to test code -->
    <table>
        <thead>
            <tr>
                {% for col in result[0] %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                {% for col in row %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <footer>
        <p>&copy; 2023 Pineapple Shoe Store</p>
        <p>Created by Reiner Opitz</p>
        <p>This site and data are for educational purposes only</p>
        <p>Do not insert any sensitive personal data</p>
    </footer>
</body>
</html>