<!DOCTYPE html>
<html>
<head>
    <title>Team Pineapple's Shoe Store Database</title>
<!--script function for the admin user box-->
<script>
    function submitQuery() {
        // Get the admin query text box element
    var queryBox = document.getElementById("admin_query");
        // Replace "Enter" key press with new line character
    queryBox.value = queryBox.value.replace(/\r?\n/g, "\n");
        // Submit the form
    document.forms[0].submit();
    }
</script>
<!--script to reformat date based on MYSQL-->
<script>
    // Get the HTML date input element by ID
    var fromDateInput = document.getElementById("from_date");
    
    // Get the value of the input element
    var fromDateValue = fromDateInput.value;
    
    // Split the value into separate month, day, and year components
    var dateComponents = fromDateValue.split("-");
    
    // Reformat the date value as "YYYY-MM-DD"
    var reformattedDate = dateComponents[2] + "-" + dateComponents[1] + "-" + dateComponents[0];
    
    // Set the reformatted date value back into the input element
    fromDateInput.value = reformattedDate;
    </script>
<!--styles for the tables, td, th, header, inputs, logo and selects-->
<style>
    table {
        border-collapse: collapse;
        width: 25%;
    }
        
    th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
        
    th {
        background-color: #f2f2f2;
        color: black;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
        
    td {
        border-right: 1px solid #ddd;
    }

    .store-header {
        display: flex;
        justify-content: center;
    }

    .logo {
        height: 50px;
        margin: 0 10px;
    }
    label, select, input {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    } 
    select, input[type="number"] {
        width: 150px;
    }
</style>
</head>
<body>
    <!-- <img src="{{ url_for('static', filename='images/Pineapple.png') }}" alt="Pineapple">
        tried to test this url_for static file
        <img src="{{ url_for('static', filename='images/Sneakers.png') }}" alt="Sneakers">-->
    <div class="store-header">
        <img src="/static/images/Pineapple.jpg" alt="Pineapple Logo" class="logo" width="100" height="100">
        <h1>Welcome to Team Pineapple's Shoe Store Database</h1>
        <img src="/static/images/Sneakers.jpg" alt="Sneakers Logo" class="logo" width="100" height="100">
    </div>
    <form method="post" action="/">
        <div>
            <h2>Customer Query</h2>
            <input type="hidden" name="query_user" value="customer">
            <div>
                <label for="customer_query">Enter customer query:</label>
                <!-- <input type="text" name="customer_query" id="customer_query"> Simple query text box-->
            </div>
            <div>
                <label for="shoe_name">Shoe Name:</label>
                <input type="text" name="shoe_name" id="shoe_name" placeholder="Enter shoe name">

                <label for="style">Style:</label>
                <select name="style" id="style">
                    <option value="">--Select Style--</option>
                    <option value="Sneakers">Sneakers</option>
                    <option value="Running">Running</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Athletic">Athletic</option>
                </select>
            
                <label for="brand">Brand:</label>
                <select name="brand" id="brand">
                    <option value="">--Select Brand--</option>
                    <option value="Nike">Nike</option>
                    <option value="Adidas">Adidas</option>
                    <option value="Puma">Puma</option>
                    <option value="Reebok">Reebok</option>
                </select>
            
                <label for="size">Size:</label>
                <select name="size" id="size">
                    <option value="">--Select Size--</option>
                    <option value="6">6</option>
                    <option value="6.5">6.5</option>
                    <option value="7">7</option>
                    <option value="7.5">7.5</option>
                    <option value="8">8</option>
                    <option value="8.5">8.5</option>
                    <option value="9">9</option>
                    <option value="9.5">9.5</option>
                    <option value="10">10</option>
                    <option value="10.5">10.5</option>
                    <option value="11">11</option>
                    <option value="11.5">11.5</option>
                    <option value="12">12</option>
                </select>
            
                <label for="gender">M/F:</label>
                <select name="gender" id="gender">
                    <option value="">--Select M/F--</option>
                    <option value="Mens">Men</option>
                    <option value="Womens">Women</option>
                </select>
            
                <label for="shoe_price">Max Price:</label>
                <input type="number" name="shoe_price" id="shoe_price" placeholder="Enter Max Price" min="0">
            </div>
            <div>
                <input type="submit" value="Submit Customer Query">
            </div>
        </div>
    </form>
    <form method="post" action="/">
        <div>
            <h2>Store Query</h2>
            <input type="hidden" name="query_user" value="store">
            <div>
                <label for="store_query">Enter store query:</label>
                <!--<input type="text" name="store_query" id="store_query">-->
            </div>
            <div>
                <!--added drop down table for the stores used ID as value for store names-->
                <label for="store_name">Style:</label>
                <select name="store_name" id="store_name">
                    <option value="">--Select Store--</option>
                    <option value="Banana Shoes">Banana Shoes</option>
                    <option value="Blueberry Shoes">Blueberry Shoes</option>
                    <option value="Pineapples Shoes">Pineapples Shoes</option>
                    <option value="Oranges Shoes">Oranges Shoes</option>
                </select>

                <select name="order_status" id="order_status">
                    <option value="">--Select order status--</option>
                    <option value="Still Shopping">Still Shopping</option>
                    <option value="Checking out">Checking out</option>
                    <option value="Complete">Complete</option>
                </select>
                <!--added a state input so you can pick which state items were shipped-->
                <select name="state" size="5" multiple>
                    <option value="">--Select State--</option>
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                  </select>
                <!--added a date range to check for orders within a specific date-->
                <label for="from_date">From:</label>
                <input type="date" name="from_date" id="from_date" onchange="convertDateFormat()">

                <label for="to_date">To:</label>
                <input type="date" name="to_date" id="to_date" onchange="convertDateFormat()">
            </div>
            <div>
                <input type="submit" value="Submit Store Query">
            </div>
        </div>
    </form>
    <!--Added a section where you could enter MQSQL queries-->
    <form method="post" action="/">
        <div>
            <h2>Admin Query</h2>
            <input type="hidden" name="query_user" value="admin">
            <div>
                <label for="admin_query">Enter Admin query:</label><br>
                <!--text area box that allows users to expand the box-->
                <textarea name="admin_query" id="admin_query" rows="4"></textarea>
            </div>
            <div>
                <!--required a JS function that allowed users to hit enter in the box without submitting-->
                <input type="submit" value="Submit Admin Query" onclick="submitQuery();">
            </div>
        </div>
    </form>
    <!--need to add a dynmaic table for the results-->
    <h2>Query Results</h2>
    <!-- error handling for invalid query-->
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% elif result %}
    <!-- <div>{{ result }}</div> this was a quick line to test code -->
    <table>
        <thead>
            <!--<tr> tried to use colspan will implement a style instead
                <th colspan="{{ num_cols }}"></th>
            </tr>-->
            <tr>
                {% for col in col_names %}
                <!-- th is table header -->
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <!-- td is for table data-->
                {% for col in row%}
                <th>{{ col }}</th>
                <!-- <td style="border: 1px solid black">{{ col }}</td> going to implement style-->
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Looks like you didn't enter anything.</p>
    <p>Please enter a valid query.</p>
    {% endif %}
    <footer>
        <p>&copy; 2023 Pineapple Shoe Store</p>
        <p>Created by Reiner Opitz</p>
        <p>This site and data are for educational purposes only</p>
        <p>Do not insert any sensitive personal data</p>
    </footer>
</body>
</html>