<!DOCTYPE html>
<html>
<head>
	<title>Welcome To The Shoe Store</title>
    <style>
		footer {
			margin-top: 50px;
			padding-top: 20px;
			padding-bottom: 20px;
			background-color: #f2f2f2;
			text-align: center;
			font-size: 14px;
			line-height: 1.2;
		}
	</style>
</head>
<body>

	<main>
		<h1>Shoe Store Menu</h1>
		<form action="/" method="post">
			<label for="query-input">Enter a query:</label>
			<input type="text" id="query-input" name="query" />
			<button type="submit">Submit</button>
		</form>
		<table id="output">
			{% if results %}
			<tr>
				{% for column_name in column_names %}
				<th>{{ column_name }}</th>
				{% endfor %}
			</tr>
			{% for row in results %}
			<tr>
				{% for value in row %}
				<td>{{ value }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			{% endif %}
		</table>
	</main>

	<footer>
		<p>Copyright © 2023</p>
        <p>Page created by Reiner Opitz</p>
        <p>For educational purposes only</p>
        <p>Testing Shoe Store Database</p>
	</footer>

</body>
</html>
